:root{
    --bg: white;
    --text-color: #708090;
    --primary-color: #4979B6;
    --secondary-color: #B64979;
    --tertiary-color: #79B649;

}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: min(1000px, 100%);
    font-family: 'Source Sans Pro', sans-serif;
}

input[type=text]{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=number]{
    width: 50%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit]{

}

.body-item{
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 3px 2px whitesmoke;
    padding: 7%;
}

.graph-container{
    grid-column: 1/3;
}

.history-container{
    grid-column: 1/3;
}



