:root{
    --bg: white;
    --text-color: #708090;
    --primary-color: #4979B6;
    --secondary-color: #B64979;
    --tertiary-color: #79B649;

}

html{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
    width: min(1000px, 100%);
    font-family: 'Source Sans Pro', sans-serif;
}

input{
    border: 2px solid #e8e8e8;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type=text]{
    width: 100%;
    
}

input[type=number]{
    width: 100%;
}

input[type=submit]{
    
}

.body-item{
    border-radius: 10px;
    border: 2px solid whitesmoke;
    box-shadow: 0px 3px 2px whitesmoke;
    padding: 7%;
}

.amount-date-container{
    display: flex;
    gap: 10px;
}

.amount-container, .date-container{
    display: flex;
    flex: 1 1 50%;
    gap: 10px;
    align-items: center;
}

.graph-container{
    grid-column: 1/3;
}

.history-container{
    grid-column: 1/3;
    overflow-y: auto;
}

.entry-container{
    border-bottom: 2px solid #e8e8e8;
    height: 60px;
    width: 100%;
    border-radius: 5px;
}



